body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    min-height: 95px;
    background-color: rgb(22, 79, 191);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

#imagen-argento {
    height: 100px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: #bbbbbb
}
